
.table{
   width: 100%;
   border:none;
}
.table__row{
    padding: 10px;
}

.table__row:nth-child(odd){
    background-color: rgba(0,0,0,0.1)
}
.table__row:nth-child(even) , .table__header{
    background-color: rgba(0,0,0,0.3)
}

.table__cell{
    padding: 5px;
    text-align: center;
    color: white;
}
.table__header{
    font-size: 14px;
} 
