
.table{
   width: 100%;
   border:none;
 
}
.table-row{
    padding: 10px;
}

 tr:nth-child(odd){
   
    background-color: rgba(0,0,0,0.1)
}
tr:nth-child(even) , thead{
    background-color: rgba(0,0,0,0.3)
  
}

.cell{
    padding: 5px;
    text-align: center;
    color: white;
}
.table-header{
    font-size: 14px;
  
} 
