<table class='table'>
    <thead>
        <th class='table__header table__cell'>Day</th>
        <th class='table__header table__cell'>Weather</th>
        <th class='table__header table__cell'>Temp. max</th>
        <th class='table__header table__cell'>Temp. min</th>
        <th class='table__header table__cell'>Precip prob. %</th>
        <th class='table__header table__cell'>Wind Bearing</th>
        <th class='table__header table__cell'>Wind Speed</th>
    </thead>
    <tbody>
        <tr *ngFor='let day of forecast' class='table__row'>
            <td class='table__cell'>
                {{day.time}}
            </td>
            <td class='table__cell'>
                <app-icon [size]='iconSize' [icon]='day.icon'></app-icon>
            </td>
            <td class='table__cell'>
                {{day.temperatureMax}}&deg; C
            </td>
            <td class='table__cell'>
                {{day.temperatureMin}}&deg; C
            </td>
            <td class='table__cell'>
                {{day.precipProbability}} %
            </td>
            <td class='table__cell'>
                {{day.windBearing}}
            </td>
            <td class='table__cell'>
                {{day.windSpeed}} m/s
            </td>

        </tr>
    </tbody>
</table>