
table{
   width: 100%;
   border:none;
}
.table-row{
    padding: 10px;
}

tr:nth-child(odd){
    background-color: rgba(255,255,255,0.4);
 
}
tr:nth-child(even){
    background-color: rgba(255,255,255,0.2);
  
}

/* .cell{
    display: inline-block;
} */
.cell{
    padding: 5px;
}
.table-header{
    font-size: 14px;
    padding: 5px;
    background-color: rgba(255,255,255,0.2);
}