<div class='location-container'>
    <div *ngIf='location' class='location-item current-location '>
        {{location.city}}, {{location.country}}
    </div>
    <button class='location-item' *ngIf='isLocationChanged' (click)='loadCurrentLocation()'>Back to current Location</button>

    <button class='location-item' *ngIf='!isEditModeOn' (click)='changeEditMode()'>Change Location</button>
    <app-autocomplete class='location-item' *ngIf='isEditModeOn' (setLocation)='handleChangingLocation($event)'>
    </app-autocomplete>
</div>