@import url('https://fonts.googleapis.com/css?family=PT+Sans');
*{
   
	box-sizing: border-box;
	margin: 0;
    padding: 0;
}
.location{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: 'PT Sans', sans-serif;
}

.location_item{
     color: white;
     margin: 5px;
    line-height: 30px;
}
.choose-location__item{
    display: inline-block;
}
.button{
    color: white;
    background: transparent;
    border:0 none;
    font-size: 20px;
    padding: 0 5px;
    cursor:pointer;
}
.button:hover{
    text-decoration: underline;
    
}
.button:focus{
   outline:none;
}