
*{
	box-sizing: border-box;
	margin: 0;
    padding: 0;
}

.wrapper{    
    display: inline-block;
    width: 100%;
    min-height: 100%; 
    min-width: 450px;
    position: relative;
    padding-bottom: 50px;
}

