<table class='table'>
    <thead>
        <th class='table__header table__cell'>City</th>
        <th class='table__header table__cell'>Country</th>
        <th class='table__header table__cell'>Weather</th>
        <th class='table__header table__cell'>Temp.</th>
    </thead>
    <tbody>
        <tr *ngFor='let location of locationsList.data; let i=index;' 
            [class.table__row_selected]="areObjectsEqual(location,currentLocation)" 
            (click)='chooseLocation(location)'
            class='table__row'>

            <td class='table__cell'>
                {{location.city}}
            </td>
            <td class='table__cell'>
                {{location.country}}
            </td>
            <td class='table__cell'>
                 <div *ngIf="weatherList[i]"> 
                     <app-icon [size]='iconSize' [icon]='weatherList[i].icon'>
                    </app-icon>
                 </div>
            </td>
            <td class='table__cell'>
                 <div *ngIf="weatherList[i]"> {{weatherList[i].temperature}}&deg; C </div>
            </td>

        </tr>
    </tbody>
</table>
<button class='button' [disabled]='locationsList.data.length >=7' (click)='saveLocation()'>
    Add
</button>
<button class='button' [disabled]='locationsList.data.length <=0'(click)='deleteLocation()'>
    Remove
</button>